<div name="Main Page" class="bg-gray-100 overflow-x-hidden text-gray-900">

    <section name="Hero Section" class="h-96 pt-10 bg-gradient-to-b from-[#181818] to-black text-white flex flex-col justify-center items-center">
        <h1 class="text-4xl text-center font-bold">Welcome to <span class="text-teal-400"> Talent Forge</span></h1>
        <p class="mt-2 text-lg opacity-80">Your Tool For Success</p>
    </section>

    <section id="target" class="py-10 flex flex-col items-center bg-[#181818]">
        <!--<h2  class="text-2xl  text-white font-semibold text-center mb-6">What We Do</h2>-->



        <div  class="flex flex-col items-center gap-6 w-full mx-auto">
          <app-card
            *ngFor="let card of cards"
            class="w-full mx-auto"
            [title]="card.title"
            [content]="card.content"
            [icon]="card.icon"
            [route]="card.route">
          </app-card>
        </div>
        <div class="text-blue-200">

        </div>


    </section>
















</div>
