<header class=" h-18 z-10 backdrop-blur-md bg-gradient-to-b from-black to-black/90 text-white/80 top-0 w-full fixed">

    <nav class="container mx-auto flex items-center justify-between p-4">

      <div class="left-0 flex gap-3">
        <img src="assets/images/logo.svg" alt="">
        <a href="#" class="text-2xl font-bold">Talent Forge</a>
      </div>


      <div class="items-center md:flex  font-bold tracking-widest space-x-6">

        <button onclick="document.getElementById('target').scrollIntoView({ behavior: 'smooth' })" Class="bg-black text-black p-2 md:block hidden rounded-md hover:bg-gray-200">Get Started</button>

        <!--<div>

          <button (click)="toggle()" class="focus:outline-none">
            <mat-icon>menu</mat-icon>
          </button>

        </div>-->
      </div>

    </nav>
  </header>
