<header class=" h-18 z-10 backdrop-blur-md bg-gradient-to-b from-black/85 to-black text-white/80 top-0 w-full fixed">

    <nav class="container mx-auto flex items-center justify-between p-4">

      <div class="left-0">
        <a href="#" class="text-2xl font-bold">Talent Forge</a>
      </div>


      <div class="items-center md:flex  font-bold tracking-widest space-x-6">

        <button routerLink="/signup" Class="bg-white/80 text-black p-2 md:block hidden rounded-md hover:bg-gray-200">Get Started</button>

        <div>

          <button (click)="toggle()" class="focus:outline-none">
            <mat-icon>menu</mat-icon>
          </button>

        </div>
      </div>

    </nav>
  </header>
