
<div *ngIf="isActive" class="fixed inset-0 bg-black bg-opacity-50 z-40" (click)="toggle()"></div>    
<!-- Sidebar -->
<aside [ngClass]="{'hidden':!isActive, 'block':isActive}"  class="w-64 min-h-screen bg-gray-900 text-white fixed top-0 z-50 right-0 p-6 space-y-6">
    
    <!-- Logo -->
    <div (click)="toggle()" class="cursor-pointer text-2xl font-bold italic">QuickParse</div>

    <!-- Navigation Links -->
    <nav class="space-y-4">
        <a routerLink="/recruitee" (click)="toggle()" class="block py-2 px-4 rounded-md bg-gray-800 hover:bg-gray-700">Dashboard</a>
        <a routerLink="" (click)="toggle()" class="block py-2 px-4 rounded-md hover:bg-gray-800">Analytics</a>
        <a routerLink="" (click)="toggle()" class="block py-2 px-4 rounded-md hover:bg-gray-800">Reports</a>
        <a routerLink="" (click)="toggle()" class="block py-2 px-4 rounded-md hover:bg-gray-800">Settings</a>
    </nav>

    <!-- Divider -->
    <hr class="border-gray-700">

    <!-- Extra Links -->
    <nav class="space-y-4">
        <a href="#" (click)="toggle()" class="block py-2 px-4 rounded-md hover:bg-gray-800">Support</a>
        <a href="#" (click)="toggle()" class="block py-2 px-4 rounded-md hover:bg-gray-800">Logout</a>
    </nav>

</aside>
